@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" asp-controller="File" method="post">
    <div class="form-group">
        <label>Klasör İsmi:</label>
        <input type="text" name="fileName" class="form-control" />
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </div>
</form>