@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if(TempData["message"] != null)
    {
        <div class="bg-primary text-white text-center lead">
            @TempData["message"]
        </div>
    }
}
<form asp-action="Upload" asp-controller="File" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Dosya:</label>
        <input id="formFile" type="file" name="formFile" class="form-control" />
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </div>
</form>