<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
       <p>
           Cookie/Index Works <br />
           Cookie = @ViewBag.Cookie     
       </p>
    </body>
    </html>