@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Bir hata oluştu</h2>
<div class="text-center lead">
    Aradığınız sayfa bulunamadı <a asp-action="Index" asp-controller="Home">Anasayfaya Dön</a>
</div>